doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='../css/main.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.main
          a(href='/') Home

      block content
        h2 #{message}
        // iterates through the data variable and dynamically creates links
        ul
          each beer in data
            li
              a(href=`/beer/${beer['type']}`) #{beer['type']}